/* Global ===================== */
:root{
    --background-red: RGBA(232,72,72,0.20);
    --background-blue: RGBA(35,177,199,0.20);
    --red: #E84848;
    --dark: #4D4D4D;
    --gray: #E6E6E6;
    --blue: #23B1C7;
    --background: #FFF2F2;
}

body {
    font-family: 'Press Start 2P', cursive;
    background: var(--background);
    color: var(--dark);
    font-size: 12px;
}

/* header ===================== */
header {
    background: var(--red);
    width: 100%;
    height: 80px;
}

header #versao-top {
    color: var(--gray);
    margin: 30px;
    float: right;
}

/* main ===================== */

main {
    margin-top: 80px;
    margin-bottom: 160px;
}

#list-pokemon {
    width: 540px;
    height: 385px;
    background-color: var(--background-red);
    border-radius: 20px;
    padding: 5px;
}
#list-pokemon span:hover {
    opacity: 75%;
    
}

#pagination {
    margin: 20px 0;
    text-align: center;
    margin-right: 10px;
    width: 540px;
}

#pagination #position {
    width: 50px;
    height: 30px;
    text-align: center;
    border-color: var(--gray);
    border-style: solid;
}

#pagination input:focus,
#pagination input:active {
    outline-color: var(--dark);
    box-shadow: 0 0 10px var(--dark);
}

#anterior, #proximo {
    border-radius: 20px;
    width: 125px;
    height: 30px;
    background: var(--dark);
    color: var(--gray);
    border: 0;
}

#anterior:hover, #proximo:hover {
    opacity: 90%;
}


#card {
    width: 340px;

    text-align: center;
}

#card #card-image {
    background: var(--background-blue);
    border-radius: 20px;
}
#card img { 
    width: 340px;
}

#card #card-description {
    width: 340px;
    height: 120px;
    background: var(--gray);
    border-radius: 20px;
    color: var(--dark);
    margin-top: 10px;
}

#card #card-description #card-description-sencodary {
    width: 340px;
    height: 60px;
    background: var(--blue);
    border-radius: 20px 20px 0 0;
    color: var(--gray);
    padding-top: 22px;
    padding-bottom: 22px;
    margin-bottom: 22px;
}

/* footer ===================== */
footer {
    background: var(--red);
    text-align: center;
    color: var(--gray);
    width: 100%;
    height: 80px;
    padding: 35px;
    font-size: 12px;
}
